body {
    margin:0;
    font-family: 'Roboto';
    font-size: 18px;
    max-width: auto;
}

a,span{
    text-decoration: none;
    color: white;
}

.content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.hero {
    background-color: #1F2937;
    height: 38vh;
    display: flex;
    justify-content:space-between;
    padding: 110px 200px 5px;
    gap:50px;

}

.hero img {
    width:550px;
    height:250px;
    
}

.header {
    background-color: #1F2937;
    padding: 20px 200px;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;

}

.header-link a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    
    color: white;
    gap:10px;
}

.hero-text button {
    width: 130px;
    background-color: #3882F6;
    border: 0;
    border-radius:8px;
    height: 38px;
    color:white;
    font-size: 18px;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    weight:900;
    font-weight: bold;
}

.info {
    height: 50vh;
    background-color: white;
    text-align: center;
    
}

.info span {
    color: black;
    
}

.quote {
    height: 28vh;
    background-color: #E5E7EB;
}

.boxes {
    display: flex;
    justify-content:center;
    gap:40px;
    
}

.boxes img, .boxes span{
    width: 180px;
    height: 180px;
    
}

.boxes img {
    border: 4px solid #ee9ecf;
    border-radius: 15px;
}

.box1,.box2,.box3,.box4{
    display: flex;
    flex-direction: column;
    
}

.random {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 100px 100px;
}

.random-info {
    height:80px;
    padding-top: 45px;
}

.quote {
    padding: 100px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style:italic;
}

.author {
    text-align: end;
    font-size: 22px;
    font-weight: bold;
}